page-noticia {

   img{
    

   } 

  .lugarcerto {
        display: inline-block;
        width: 20%;
        box-shadow: none;
      }
                  
      ion-card {
        position: relative;
        text-align: center;
        width: 20px;
        }
          
      .card-title {
        position: absolute;
        top: 36%;
        font-size:20px;
        width: 100%;
        font-weight: bold;
        color: #fff;
        }
    
          

}
