page-noticia {


  .lugarcerto {
        display: inline-block;
        width: 20%;
       
      }
                  
      ion-card {
        position: relative;
        text-align: center;
        width: 20px;
        }
          
      .card-title {
        position: absolute;
        top: 36%;
        font-size:20px;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: black 0.2em 0.2em 0.3em
        }
    
  

}
